.weather {
  grid-area: "weather";
}

.mainInformation {
  display: flex;
  justify-content: right;
}

.weatherDescription {
  margin: 0px 0px 1em 0px;
  text-align: right;
}

.p {
  text-align: right;
  font-size: 0.8em;
}
